---
layout: layouts/base.njk
templateClass: tmpl-school
---
<h1>{{ title }}</h1>

Origin: {{ origin }}
Country: {{ country }}
Weapon: {{ weapon }}

Skills:
<ul>
  {% for skill in schSkills %}
    <li>{{ skill }}</li>
  {% endfor %}
</ul>

Advantage: {{ advantage }}

Knacks:
<ul>
{% for ShKnack in schoolKnacks %}
  <li>{{ ShKnack }}</li>
{% endfor %}
</ul>

Tags:
<ul>
  {% for ShTag in tags %}
    <li>{{ ShTag }}</li>
  {% endfor %}
</ul>

{{ content | safe }}
