---
title: Schools
layout: layouts/home.njk
permalink: /schools/
eleventyNavigation:
  key: Schools
  order: 2
---

<h1>{{ title }}</h1>

<ul>
  {% set postslist = collections.schools %}
  {% set postslistCounter = collections.posts | length %}
  {% include "postslist.njk" %}
</ul>
