---
layout: layouts/home.njk
pagination:
  data: skills
  size: 1
  alias: skill
permalink: "skills/{{ skill.title | slug }}/"
---

<h1>{{ skill.title }}</h1>
<br>
{{ skill.type }} - {{ skill.origin }}
<br>
{{ skill.description }}


<h3>knacks:</h3>

<ul>
  {% for knack in knacks %}
      {% if knack.skills[skill.title] %} <!-- if === 'advance' or 'base' -->
        <li class="{{ knack.skills[skill.title]  }}">
          {% set knackUrl = '/knacks/' + knack.title %}
          <a href="{{ knackUrl | url }}/">{{ knack.title }} {{ knack.skills[skill.title]  }}</a>
          <p>{{ knack.description }}</p>
        </li>
      {% endif %}
  {% endfor %}
</ul>
